body{
    font-family: Arial;
}
#logo{
    width: 30%; 
}
#center{
  text-align: center;
}
h2 {
  text-align: center;
}
.content {
  width: 60%;
  margin: 0 auto;
}
.header {
    color: white;
    background: #393939;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
.header a{
    text-decoration: none;
    color: white;
    margin-left: 1em;
    margin-right: 1em;
}
#okay{
    font-size: 15em;
}
.analysislink div{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;

}
.analysislink div:hover {
  background-color: #45a049;
}
.analysislink{
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
}
select {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=datetime-local] {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=number] {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=text] {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=password] {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
.button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}
.button:hover {
  background-color: #45a049;
  text-decoration: underline;
}
.button:disabled, .button:hover:disabled{
  background-color: #747474;
  text-decoration: none;
  cursor: default;
}
.button.red{
  background-color:rgb(138, 16, 16);
}
#add {
  font-size: 100%;
}
td{
  border: 1px solid black;
  padding: 2px;
  text-align: center;
}
table{
  border: 1px solid black;
}
i.fas.fa-times{
  color: rgb(158, 14, 14);
}
i.fas.fa-check{
  color: rgb(38, 158, 14);
}
#editicon{
  color: rgb(179, 99, 24);
}
#editicon:hover{
  color: rgb(153, 86, 23);
}
#trashicon{
  color: rgb(199, 15, 15);
}
#trashicon:hover{
  color: rgb(138, 16, 16);
}

.visunav {
  color: white;
  background: #5d645b;
  margin: 0px;
  padding: 10px;
  text-align: center;
}
.visunav a{
  text-decoration: none;
  color: white;
  margin-left: 1em;
  margin-right: 1em;
}